body{
    font-family: "RO Sans", 'Calibri', 'Trebuchet MS',sans-serif;
    padding: 20px;
}

a{
    text-decoration: none;
    color: rgb(72, 154, 243);
}

#note{
    background: yellow;
    width: 100%;
    color: red;
    text-align: center;
    font-size: 30px;
    position: fixed;
    z-index: 1;    
}

#logo{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 80px;
}

@media screen and (min-width:800px){    
    /* nav{
        display: none;
    } */

    #main-navigation a{
        color: white;
        text-decoration: none;
        padding-right: 2em;     
    }
    
    #main-navigation{
        background-color: rgb(72, 154, 243);
        height: 60px;
        font-size: 1.5em;    
        text-align: right;
        padding-top: 1em;        
    }
    
    #main-header{
        position: relative;
        background-image: url(images/tourists.jpg);
        background-repeat: no-repeat;   
        
    }

    #main-header img{
        min-height: 300px;
    }
    
    #nav-list{
        width: 25%;
        background: white;
        position: absolute;
        top: 1em;
        left: 2em;   
    }
    
    #search-bar{
        position: absolute;
        top: 1em;
        right: 2em;    
    }
    
    #main-header ul{
        list-style: disc;
    }
    
    #hollandse-hoogte{
        color: white;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    
    #links-section{   
        background: rgba(223, 233, 245, 0.938);           
    }

    #links-section h3{
        color: rgb(72, 154, 243);
    }

    #links-section p{
        color: black;
    }
    
    #links-section div{
        margin: 3em;
        /* border: red solid 3px; */
        width: 15%;    
    }
    
    #spotlight-section,#news-section,#links-section{
        /* border: red solid 2px; */
        box-sizing: content-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;        
     }
    
    #spotlight-section div{
        margin: 1em;
        /* border: red solid 3px; */
        width: 25%;  
        padding: 0em 1em;  
    }
    
    #spotlight-section div h3{
        color: rgb(72, 154, 243);
    }
    
    #spotlight-section div p{
        color: black;
    }
    
    #spotlight-section img{
        width:100%;
    }
    
    #news-section div{
        margin: 3em;
        /* border: red solid 3px; */
        width: 25%; 
    }
    
    #news-section div h3{
        color: rgb(72, 154, 243);
    }
    
    #news-section div p,h5{
        color: black;
    }
    
    #questions{
        color: rgb(72, 154, 243);
        border: rgb(72, 154, 243) solid 3px;
        width: 20%;
        margin: 3em;
        padding: 1em 3em;
        text-align: center;
    }
    
    #questions p{
        color: black;
    }
    
    footer{
        background-color: rgb(72, 154, 243);
        color: white;
        width: 100%; 
        display: flex;    
        justify-content: flex-end;    
    }
    
    footer div{
        margin: 3em;
    }
    
    footer ul{
        list-style: none;
        width: 15%;    
    }

}

@media screen and (min-width:480px) and (max-width:800px){
    #main-navigation a{
        color: white;
        text-decoration: none;
        padding-right: 2em;
        font-size: 1em;;     
    }
    
    #main-navigation{
        background-color: rgb(72, 154, 243);
        height: 60px;
        /* font-size: 1.5em;     */
        text-align: center;
        padding-top: 1em;
        line-height: 1.5em;        
    }
    
    #main-header{
        position: relative;
        /* background-image: url(images/tourists.jpg); */
        /* background-repeat: no-repeat;     */
    }

    #main-header img{
        min-height: 300px;
    }
    
    #nav-list{
        width: 90%;
        background: white;
        position: absolute;
        top: 1em;
        left: 2em;   
    }
       
    #search-bar{
        position: absolute;
        bottom: 1em;
        right: 2em;    
    }
    
    #main-header ul{
        list-style: disc;
    }
    
    #hollandse-hoogte{
        color: white;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    
    #links-section{   
        background: rgba(223, 233, 245, 0.938);    
    }
    
    #links-section h3{
        color: rgb(72, 154, 243);
    }

    #links-section p{
        color: black;
    }

    #links-section div{
        margin: 0.5em;
        /* border: red solid 3px; */
        width: 40%;    
    }
    
    #spotlight-section,#news-section,#links-section{
        /* border: red solid 2px; */
        box-sizing: content-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        
     }
    
    #spotlight-section div{
        margin: 0.5em;
        /* border: red solid 3px; */
        width: 40%;  
        padding: 0em 1em;  
    }
    
    #spotlight-section div h3{
        color: rgb(72, 154, 243);
    }
    
    #spotlight-section div p{
        color: black;
    }
    
    #spotlight-section img{
        width:100%;
    }
    
    #news-section div{
        margin: 0.5em;
        /* border: red solid 3px; */
        width: 40%; 
    }
    
    #news-section div h3{
        color: rgb(72, 154, 243);
    }
    
    #news-section div p,h5{
        color: black;
    }
    
    #questions{
        color: rgb(72, 154, 243);
        border: rgb(72, 154, 243) solid 3px;
        width: 20%;
        margin: 3em;
        padding: 1em 3em;
        text-align: center;
    }
    
    #questions p{
        color: black;
    }
    
    footer{
        background-color: rgb(72, 154, 243);
        color: white;
        width: 100%; 
        display: flex;    
        justify-content: flex-end;    
    }
    
    footer div{
        margin: 3em;
    }
    
    footer ul{
        list-style: none;
        width: 15%;    
    }
}


@media screen and (max-width:480){
    #main-navigation a{
        color: white;
        text-decoration: none;
        /* padding-right: 2em; */
        font-size: 0.5em;;     
    }
    
    #main-navigation{
        background-color: rgb(72, 154, 243);
        height: 40px;
        /* font-size: 1.5em;     */
        text-align: center;
        /* padding-top: 1em; */
        line-height: 1.5em;        
    }
    
    /* #main-header{
        position: relative;
        /* background-image: url(images/tourists.jpg); */
        /* background-repeat: no-repeat;     
    } */

    #main-header img{
        display:none;
    }
    
    #nav-list{
        width: 90%;
        background: white;
        position: absolute;
        top: 1em;
        left: 2em;   
    }
       
    #search-bar{
        position: absolute;
        bottom: 1em;
        right: 2em;    
    }
    
    #main-header ul{
        list-style: disc;
    }
    
    #hollandse-hoogte{
        color: white;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    
    #links-section{   
        background: rgba(223, 233, 245, 0.938);    
    }
    
    #links-section div{
        margin: 0.5em;
        /* border: red solid 3px; */
        width: 40%;    
    }

    #links-section h3{
        color: rgb(72, 154, 243);
    }

    #links-section p{
        color: black;
    }
    
    #spotlight-section,#news-section,#links-section{
        /* border: red solid 2px; */
        box-sizing: content-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        
     }
    
    #spotlight-section div{
        margin: 0.5em;
        /* border: red solid 3px; */
        width: 40%;  
        padding: 0em 1em;  
    }
    
    #spotlight-section div h3{
        color: rgb(72, 154, 243);
    }
    
    #spotlight-section div p{
        color: black;
    }
    
    #spotlight-section img{
        width:100%;
    }
    
    #news-section div{
        margin: 0.5em;
        /* border: red solid 3px; */
        width: 40%; 
    }
    
    #news-section div h3{
        color: rgb(72, 154, 243);
    }
    
    #news-section div p,h5{
        color: black;
    }
    
    #questions{
        color: rgb(72, 154, 243);
        border: rgb(72, 154, 243) solid 3px;
        width: 20%;
        margin: 3em;
        padding: 1em 3em;
        text-align: center;
    }
    
    #questions p{
        color: black;
    }
    
    footer{
        background-color: rgb(72, 154, 243);
        color: white;
        width: 100%; 
        display: flex;    
        justify-content: flex-end;    
    }
    
    footer div{
        margin: 3em;
    }
    
    footer ul{
        list-style: none;
        width: 15%;    
    }

}











